* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.global-filter,
.select-filter {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  position: relative;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

table tbody tr:hover {
  opacity: 0.5;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}